body {
	margin: 0;
	padding:0;
	overflow: hidden;
}

#map {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

#panel {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 300px;
	padding: 15px;
	background: #646464;
	color: white;
	display:none;
  }

  .fadeIn {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
  }

  .fadeIn.show {
	opacity: 1;
  }

  .fadeOut {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
  }

  .fadeOut.hide {
	opacity: 0;
  }

@media (max-width: 768px) {
	#panel {
		position: static;
		width: 100%;
		display: block;
		overflow:auto;
		height: 20vh;
	}
}
